.Brands {
  position: relative;
  margin-bottom: 35px;
  border-bottom: 1px solid $grey;
}

.Tagline-Wrap {
  padding-right: 210px;

  @include bpsmall {
    padding-right: 0;
    width: 350px;
  }
}

.Tagline {
  margin-bottom: 15px;
  font-size: 15px;
  line-height: 18px;
  color: $black;
  font-style: italic;
}

.Brands-AllLink {
    position: absolute;
    right: 90px;
    top: -5px;
    margin-top: 0;
    
    @media screen and (max-width: 1000px) {right: 12px;}
    @media screen and (max-width: 530px) {top: 313px;}
}

.Brands-Main {
  display: flex;
  flex-wrap: wrap;
  margin-top: 7px;
  margin-bottom: 35px;
}

.Brands-Main li {
  flex-shrink: 0;
  width: 12.5%;

  &:nth-child(-n+8) {border-bottom: 1px solid rgb(220, 220, 220);}

  &:nth-child(-n+7) {
    background-image: linear-gradient(to top, rgb(220, 220, 220) 0%, rgb(220, 220, 220) 20%, #fff);
    background-size: 1px 100%;
    background-position: right;
    background-repeat: no-repeat;
  }

  &:nth-child(n+9):nth-child(-n+15) {
    background-image: linear-gradient(to bottom, rgb(220, 220, 220) 0%, rgb(220, 220, 220) 20%, #fff);
    background-size: 1px 100%;
    background-position: right;
    background-repeat: no-repeat;
  }

  @include bpbig {
    width: 25%;

    &:nth-child(n+5):nth-child(-n+8) {border-bottom: none;}
    &:nth-child(n+9):nth-child(-n+12) {border-bottom: 1px solid rgb(220, 220, 220);}

    &:nth-child(n+5):nth-child(-n+7) {
      background-image: linear-gradient(to bottom, rgb(220, 220, 220) 0%, rgb(220, 220, 220) 20%, #fff);
    }
    &:nth-child(4) {background-image: none;}
    &:nth-child(n+9):nth-child(-n+11) {
      background-image: linear-gradient(to top, rgb(220, 220, 220) 0%, rgb(220, 220, 220) 20%, #fff);
    }
    &:nth-child(-n+12):nth-child(12) {background-image: none;}
  }
}

.Brands-Main a {
  display: flex;
  height: 65px;
  justify-content: center;
  align-items: center;

  img {
    width: auto;
    height: auto;
  }

  &:hover, &:focus {
    box-shadow: 0px 0px 8px 2px rgba(105, 156, 190, 0.6);
    border-color: $light-blue;
    outline: none;
  }
}

.Brands-Popular {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 35px;
}

.Brands-Popular li {
  width: 12%;

  @include laptop {width: 16%;}
  @include tablet {width: 21%;}
}

.Brands-Popular a {
  font-size: 11px;
  line-height: 20px;
  border-bottom-style: solid;

  @include tablet {
    font-size: 15px;
    line-height: 26px;
  }
  
  &:hover {
    color: $red;
    border-bottom-color: $red;
  }
}